<!DOCTYPE html>
<html>
<head>
	<title>Web Guesser - Guess Numbers!</title>
	<style type="text/css">
		body{
			background-color: <%= bg_color %>
		}
	</style>
</head>
<body>
	<form>
		<input type="text" name="guess" />
		<input type="submit" value="Guess!"/>
	</form>

	<p><%= message %></p>
	<% if correct %>
	<p>The secret number is <%= number %></p>
	<% end %>

	<p>Remaining Guesses: <%= available_guesses %></p>

	<% if cheet == 'true' %>
	<p>Cheet Mode Enabled! The secret number is <%= cheet_number %></p>
	<% end %>
</body>
</html>